/********************************************************************/
/************************** Schedule table **************************/
/********************************************************************/
.tabsched {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.8em;
    width: 100%;
}
.tabsched td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}
.tabsched th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    background-color: #d7eaf7;
}
.tabsched .topleft {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}
.tabsched .center {
    text-align: center;
    vertical-align: top;
}
